@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}  

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

i {
    color: #0065fc;
  }

i.black {
    color: black;
  }
  
i.fa-star {
    font-size: 12px;
  }

a {
    text-decoration: none;
    color: black;
  }

            /* Header */
/* navbar */
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .navbar > *:not(.main-nav) {
    padding: 1em 20px;
  }
  .navbar .main-nav {
    display: flex;
    width: 100%;
    order: 1;
  }
  .navbar .main-nav a {
    text-align: center;
    width: 50vw;
    padding: 1em;
    color: black;
    border-bottom: 3px solid #F2F2F2;
    transition: border 0.5s ease;
  }
  .navbar .main-nav a:hover {
    font-weight: 600;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }
  .navbar a#subscribe {
    color: #0065fc;
    font-weight: bold;
  }
/* banner*/
  .banner {
    padding: 1em 20px;
  }

  h1 {
    margin-right: 1em;
    font-size: 22px;
    font-weight: bolder;
  }
  h1 span{
    display: block;
    padding: 1em 0;
    font-size: initial;
    font-weight: normal;
  }

 .tags {
  display: block;
  margin: 2em 0;
 }
 .tags div {
  font-weight: bold;
 }
 .tag {
    transition: all 0.5s ease;
    background: white;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin: 0.5em 1em;
    margin-left: 0;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0 10px;
    font-size: 14px;
  }
  .tag i {
    position: relative;
    left: -12px;
    background: #deebff;
    border-radius: 50%;
    padding: 15px;
  }
  .tag i.fa-child {
    padding: 15px 17px;
  }
  .tag:hover {
    background: #deebff;
  }

  i.fa-info {
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 0.5em;
    float: left;
    position: relative;
    top: -5px;
  }
  .show-more {
    padding: 1em 0;
    font-size: 18px;
    border: none;
    font-weight: bold;
    background: none;
    cursor: pointer;
  }

  form {
    height: 50px;
    max-width: 300px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    position: relative;
  }
  form input {
    font-weight: bold;
    border: none;
    padding: 0.5em 1em;
    font-size: 16px;
  }
  form input:focus {
    outline: none;
  }
  form .fa-map-marker-alt {
    border-radius: 15px 0 0 15px;
    padding: 17px;
    background: #f2f2f2;
  }
  form .search-icon {
    position: absolute;
    right: 0;
    border: none;
    border-radius: 15px;
    background: #0065fc;
  }
  form .fa-search {
    padding: 17px 10px;
    color: white;
  }
  form .search {
    display: none;
  }
  /* Hebergement et Activites */
  .bloc {
    padding: 1em;
  }
  
  .cards {
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
    transition: box-shadow 0.3s;
    background: white;
    margin: 20px 10px;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
    height: 250px;
  }
  .card:hover {
    box-shadow: 2px 2px 12px rgba(61, 40, 40, 0.4);
  }
  
  .star-empty {
    color: #f2f2f2;
  }

  /* Hebergement */
  #Hebergement {
      display: flex;
      flex-flow: row wrap;
  }
  #Hebergement .bloc{
      margin: 1em 0;
      width: 100%;
  }
  .bloc-city .cards,
  .bloc-popular .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 20px;
    justify-items: stretch;
 }
 
 /* city */
 .card-city {
    margin: 10px 0;
  }
  .card-city .img-wrapper {
    height: 150px;
    width: 100%;
    margin: 0;
  }
  .card-city img {
    object-fit: cover;
    height: 150px;
    width: 100%;
  }
  .card-city .text-wrapper {
    padding: 0.5em 1em;
  }
  .card-city h3,
  .card-city p {
    margin: 0.5em 0;
    margin-top: 0;
  }

  /* popular */
.bloc-popular {
    background: #f2f2f2;
    order: -1;
    width: 100vw;
  }
  .bloc-popular .fa-chart-line {
    float: right;
  }
  .bloc-popular .cards {
    display: block;
  }
  
  .card-popular {
    display: flex;
    margin: 10px 0;
    height: 150px;
  }
  .card-popular .img-wrapper {
    height: 100%;
    width: 130px;
    margin: 0;
  }
  .card-popular img {
    object-fit: cover;
    width: 130px;
    height: 100%;
  }
  .card-popular .text-wrapper {
    padding: 0 0 1em 1em;
    margin: 0;
    font-size: 15px;
    position: relative;
  }
  .card-popular h3 {
    margin-bottom: 0;
  }
  .card-popular p {
    margin-top: 0.5em;
  }
  .card-popular .vote {
    position: absolute;
    bottom: 10px;
  }
  /* TABLETS */
  @media only screen and (min-width: 768px) {
    header,
    main {
      margin: 0 2em;
    }
  
    .navbar {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    .navbar .main-nav {
      margin-left: auto;
      display: inline-flex;
      width: 40%;
      order: unset;
    }
    .navbar .main-nav a {
      padding: 2em;
      border-bottom: none;
      border-top: 3px solid transparent;
    }
    .navbar .main-nav a:hover {
      border-bottom: none;
      border-top: 3px solid  #0065fc;
    }
    .tags {
        display: inline-flex;
        align-items: center;
      }
    
      .tag {
        font-size: 13px;
        margin: 0 0 0 1em;
      }
      .tag i {
        padding: 10px;
      }
      .tag i.fa-child {
        padding: 10px 12px;
      }
    
      form {
        max-width: 400px;
      }
    
      form .search {
        display: inline;
        float: right;
        color: white;
        font-weight: bold;
        padding: 16px;
        background: #0065fc;
        border: none;
        border-radius: 0 10px 10px 0;
      }
    
      form .search-icon {
        display: none;
      }
      .bloc {
        padding: 1em 2em;
        border-radius: 15px;
      }
    
      #Hebergement {
        margin: 20px 0;
      }
    
      #Hebergement .bloc {
        margin: 20px 10px;
        background: #f2f2f2;
      }
    
      .bloc-city {
        width: 100%;
      }
    
      .bloc-city .cards,
      .bloc-popular .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .card-city {
        height: 220px;
      }
      .card-city .img-wrapper,
      .card-city img {
        height: 120px;
      }
}


  /* DESKTOP */
  @media only screen and (min-width: 1224px) {
    .tag {
      margin: 0 0 0 2em;
    }
    #Hebergement {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
      }
    
      .bloc-city .cards {
        grid-template-columns: repeat(3, 1fr);
      }
      .card-city h3 {
        font-size: 15px;
      }
    
      .show-more {
        padding-top: 2em;
      }
      .bloc-popular .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0 20px;
      }
    
      .bloc-popular {
        order: 0;
        width: unset;
      }
      .card-popular {
        margin: 20px 0;
        width: 100%;
      }
}
