@font-face{
    font-family:  'Raleway-Regular';
    src: url(fonts/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* création des class */
.logoFloat{
    float: left;
}
.noFloat{
    clear: both;
}
.textRight{
    text-align: right;
}



/* Header */

#menu ul li {
    list-style-type: none;
    display: inline;
}
#filtres ul li {
    list-style-type: none;
    display: inline;    
}